.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.generate-button {
  background-color: #9BCC50; /* Green background, similar to Gameboy color */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px 20px; /* Padding for size */
  font-family: 'Press Start 2P', cursive; /* 8-bit style font */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Cursor changes to a pointer on hover */
  box-shadow: 3px 3px 0px #388E3C; /* Box shadow for 3D effect */
  transition: all 0.3s ease; /* Smooth transition for click effect */
}

.generate-button:hover {
  background-color: #8BC34A; /* Slightly lighter green on hover */
}

.generate-button:active {
  box-shadow: 1px 1px 0px #388E3C; /* Shadow shifts on click */
  transform: translate(2px, 2px); /* Button moves slightly on click */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/pokemon-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%; /* ensure container width doesn't exceed viewport */
  max-width: 1200px; /* or any maximum width that fits your design */
  overflow-x: hidden; /* Hide horizontal overflow */
}

.pokemon {
  margin: 10px;
  width: calc(100% / 6 - 20px); /* adjust for number of items per row */
  height: auto; /* adjust height automatically */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon {
  width: calc(50% - 20px); /* Adjust to fit 2 items per row without squishing */
  margin: 10px;
}

.pokemon p {
  font-family: 'Press Start 2P', cursive;
}

.main-container {
  border: 2px solid #000;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main-container h1 {
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 208, 0);
  font-size: 2em;
  text-shadow: 2px 2px #000000;
}

.App-footer {
  font-family: 'Orbitron', sans-serif;
  color: #C0C0C0;
  text-shadow: 1px 1px #808080;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

nav {
  margin-top: 20px;
}

@media (max-width: 370px) {
  .pokemon-container {
    justify-content: space-around; /* Adjust this to manage spacing */
  }

  .pokemon img {
    width: auto; /* Adjust width or keep it auto */
    height: auto; /* Adjust height or keep it auto */
    max-width: 100%; /* Ensure image is not bigger than its container */
    max-height: 100px; /* Set a max-height to maintain aspect ratio */
  }

  .main-container h1,
  .pokemon p {
    font-size: 1em;
  }

  #generateButton {
    padding: 8px 16px;
    font-size: 0.8em;
  }

  .App-footer {
    padding: 10px;
    font-size: 0.8em;
  }

  .main-container,
  .content-box,
  .other-elements {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

body {
  font-family: '8BitWonder', sans-serif;
  overflow-x: hidden; /* Hide horizontal overflow */
}
