.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#generateButton {
  margin-top: 20px; /* Add margin to the top of the button */
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures the content takes up at least the full height of the viewport */
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}

.pokemon {
  margin: 10px;
}







